*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: lightgray;
}
.container{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.shoe{
    width: 85%;
    height: 75%;
    margin: auto;
    margin-top: 5rem;
    background: linear-gradient(to right,purple, red, orange);
    padding: 2rem;
    color: white;
}
.des{
    width: 40%;
}
.des h1{
    font-size: xx-large;
}
.des p{
    font-size: large;
    margin-top: 30px;
}
.shoeimg{
    width: 580px;
    height: 300px;
    position: absolute;
    top: 100px;
    right: 0px;
}
.container::after{
    content: "HI";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, red, blue);
    transform: skewY(15deg);
    z-index: -1;
}
.shoeimg:hover{
    width: 900px;
    height: 600px;
}